
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav{
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 150px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    position: fixed;
    z-index: 10;
    margin-top: 17px;
    width: 100%;
   
}
.navbar-nav a{
    color: rgb(255, 254, 253);
    
}

.navbar-nav a:hover{
    color: rgb(78, 168, 209);
  
}
.home{
    position: relative;
    background-image: url(/Images/astronaut.jpg);
    background-size: cover;
    background-position: center;
}
.home .row{
    margin-top: 350px;
}
.home h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.home p{
    color: antiquewhite;
}
.row a{
    border: 2px solid wheat;
    color: aliceblue;
}
.row a:hover{
    transition: 0.2s;
    transform: translateY(5%);
    font-size: 18px;
    border: 2px solid wheat;
    color: aliceblue;
}

.right a{
   color: white;
   font-weight: bold;
   text-transform: uppercase;
  
   font-size: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right a:hover{
    color: rgb(78, 168, 209);
    text-decoration: underline;
    transition: 0.5s;
   font-size: 18px;
   transform: translateY(-8%);

}
.nav-item a:focus{
    color:black;
}

section {
   
    height:700px;
  
  }
  .service{
    padding: 25px;
    box-shadow: 5px 8px 22px rgba(0, 0, 0, 0.199);
    transition: all 0.35s ease;
  }
  
  .service:hover{
    box-shadow: 5px 8px 22px rgba(38, 17, 66, 0.205);
    transform: translateY(5px);
   
  }
  
 
   #section2 .container {
       
    height:650px;
   
    background-image: url(/Images/moonphase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    text-align: center;
   
  }

  .section2 h1{
    text-align: center;
    font-weight: bold;
    color: #b93632;
    padding-bottom: 47px;
    
  }
  .section2 p{
   
    padding-bottom: 50px;
    font-size: 20px;
  }

  .section2 .row{
    display: flex;
     max-width: 100%;
    padding: 70px;
     justify-content: center;
     margin-bottom:150px ;
    color: aliceblue;
    font-size: 18px;
  }
  [data-reveal="text"]{
      opacity: 0;
     
  }
  [data-js="reveal"].loaded [data-reveal="text"]{
      opacity:1;
      animation:reveal-text 1.5s ease;
     
  }
  @keyframes reveal-text {
      0%{
         opacity: 0;
        
      }
      50%{
         
          opacity: 1;
      }
      
    }

    .marketing{
       
     
      background-size: cover;
      background-position: center;
      max-width: 100%;
      
    }
    
      
      footer {
        background-color: #000000e7;
        margin-bottom: 0%;
        /* background-image:url(/Images/cosmos.jpg) ; */
      }
      .form{

        height: 820px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;        
        font-weight: bolder;
        padding-top: 80px;
        padding-left: 200px;
        /* background-image:url("/Images/contact.jpg"); */
        
        display: flex;
        color: white;
        flex-direction: column;
        background-image: url(/Images/rotating-earth.gif);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
    }
   
    input,textarea{
        /* background-color: slategrey; */
        background: transparent;
        border-color: white;
        border-width: 3px;
        color: white;
    }
    textarea{
        width:350px;
        
        border-radius: 8px;
    
    }
    input{
        width:350px;
        height: 30px;
        border-radius: 8px;
    }
    
    label{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 3px;
    }
    .b1{
        margin-top: 20px;
        color: white;
        background-color:#000000 ;
        padding: 18px;
        font-size: 25px;
        width: 350px;
        border-radius: 8px;
    }
    .b1:hover{
        background-color: white;
        color: black;
    }
    svg{
        clip-path: circle();
       
    }
    i{
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        
    }
   
    .up{
        transform:rotate(-135deg);
    }
    .down{
      
        transform: rotate(45deg);
    }

.login{
    margin-left: 380px;
}



.featurette{
    text-align: center;
}
.Booknow a{
    color:rgb(182, 21, 9);
    text-decoration: none;
    padding: 7px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid rgb(202, 26, 14);
}
.Booknow a:hover{
    background-color: rgb(202, 26, 14);
    padding: 8px;
    font-weight: normal;
    font-size: 17px;
    border:none
}
